### GITIGNORE Reviewer Matcher

*.zip
*~
__pycache__
l.log
.DS_Store
.idea

node_modules/
/init-letsencrypt.sh
/certbot/
/data/

/elasticsearch/esdata/
/elasticsearch/es_implement/corpus/*
/elasticsearch/es_implement/orcid/*

temp.csv

/web/app/models/bazar/
/web/app/models/saves/*
/web/app/models/saves_index/*
/web/app/models/classif_tests/*
/web/app/models/similarities/*
/web/app/scripts/side_dev/
/web/app/static/images/*
/web/app/uploads_pdf/*
/web/app/venv/
