### GITIGNORE Reviewer Matcher

*.zip
*~
__pycache__
l.log

.DS_Store
.idea

/elasticsearch/esdata/

/elasticsearch/es_implement/corpus/*
/elasticsearch/es_implement/orcid/*
/web/app/scripts/side_dev/
temp.csv

/web/app/models/saves/*
/web/app/models/saves_index/*
/web/app/models/w2v/*
/web/app/models/classif_tests/models_saves/*
