<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Reviewer Matcher - {{titre}}</title>

  <link href="{{ url_for('static', filename='normalize.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet" type="text/css" />
  
</head>
<body>

<h1>Recherche d'articles</h1>
  
{% from "_formhelpers.html" import render_field %}
<form method=post>
    <dl>
      {{ render_field(form.title) }}
      {{ render_field(form.abstract) }}
      {{ render_field(form.authors) }}
      {{ render_field(form.keywords) }}
      {{ render_field(form.journal) }}
      {{ render_field(form.year_alone) }}
      <p>Range Année</p>
      {{ render_field(form.year_range1) }}
      {{ render_field(form.year_range2) }}
    </dl>
    <p><input type=submit value="Chercher des articles">
</form>
      {% if (data) != -1 %}
        <section>
        {% for art in data %}
            <article>
                <ul>
		    <li>Score : {{art["_explanation"]["value"]}}</li>
                    <li>Titre : {{ art["_source"]["title"] }}</li>
                    <li>Abstract : {{ art["_source"]["paperAbstract"] }}</li>
		    <li>Keywords :
		        {% for ent in art["_source"]["entities"] %}
		            {{ ent }},
		        {% endfor %}
		    </li>
                    <li>Année : {{ art["_source"]["year"] }}</li>
                    <li>Auteurs :
                        {% for aut in art["_source"]["authors"] %}
                            {{ aut["name"] }}, 
                        {% endfor %}
                    </li>
		    <li>Journal : {{ art["_source"]["journalName"] }} </li>
                </ul>
            </article>
        {% endfor %}
        </section>
    {% endif %}
</body>
</html>
