<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Reviewer Matcher - {{titre}}</title>

    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet" type="text/css" />
</head>
<body>
{% from "_formhelpers.html" import render_field %}
<form method=post>
    <dl>
        {{ render_field(form.title) }}
    </dl>
    <p><input type=submit value="Chercher des articles">
    {% if (data) != -1 %}
        <section>
        {% for line in data %}
            <article>
                <ul>
                    <li>Titre : {{ line["title"] }}</li>
                    <li>Abstract : {{ line["paperAbstract"] }}</li>
                    <li>Année : {{ line["year"] }}</li>
                    <li>Auteurs :
                        {% for aut in line["authors"] %}
                            {{ aut["name"] }}
                        {% endfor %}
                    </li>
                </ul>
            </article>
        {% endfor %}
        </section>
    {% endif %}
</form>
</body>
</html>