<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Reviewer Matcher - {{titre}}</title>

  <link href="{{ url_for('static', filename='normalize.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet" type="text/css" />
  
</head>
<body>

<h1>Recherche d'articles</h1>
  
{% from "_formhelpers.html" import render_field %}
<form method=post>
    <dl>
      {{ render_field(form1.title) }}
      {{ render_field(form1.title_ord) }}
      {{ render_field(form1.abstract) }}
      {{ render_field(form1.abstract_ord) }}
      {{ render_field(form1.authors) }}
      {{ render_field(form1.keywords) }}
      {{ render_field(form1.keywords_ord) }}
      {{ render_field(form1.journal) }}
      {{ render_field(form1.year_alone) }}
      <p>Range Année</p>
      {{ render_field(form1.year_range1) }}
      {{ render_field(form1.year_range2) }}
    </dl>
    <p>{{ render_field(form1.submit1) }}
</form>

<form method=post enctype=multipart/form-data id="formPDF">
    <dl>
      {{ render_field(form2.pdf) }}
    </dl>
    <p>{{ render_field(form2.submit2) }}
</form>

      {% if (data) != -1 %}
        <section>
        {% for art in data %}
            <article>
                <ul>
		            <li>Score : {{art["_explanation"]["value"]}}</li>
                    <li>Moyenne : {{ mean }}</li>
                    <li>Titre : {{ art["_source"]["title"] }}</li>
                    <li>Abstract : {{ art["_source"]["paperAbstract"] }}</li>
                    <li>Keywords :
                        {% for ent in art["_source"]["entities"] %}
                            {{ ent }},
                        {% endfor %}
                    </li>
                    <li>Année : {{ art["_source"]["year"] }}</li>
                    <li>Auteurs :
                        {% for aut in art["_source"]["authors"] %}
                            {{ aut["name"] }}, 
                        {% endfor %}
                    </li>
		            <li>Journal : {{ art["_source"]["journalName"] }} </li>
                </ul>
            </article>
        {% endfor %}
        </section>
    {% endif %}

</body>
</html>
