<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Reviewer Matcher - {{titre}}</title>

  <link href="{{ url_for('static', filename='normalize.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet" type="text/css" />
  
</head>
<body>

<h1>Summary Generator</h1>
  
{% from "_formhelpers.html" import render_field %}
<form method=post>
    <dl>
      {{ render_field(form.text) }}
      {{ render_field(form.nb_sent) }}
    </dl>
    <p>{{ render_field(form.submit) }}
</form>

{% if (data) != -1 %}
{% for sent in data %}
<p>{{ sent }}.</p>
{% endfor %}
{% endif %}

</body>
</html>
