<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Reviewer Matcher - {{titre}}</title>

  <link href="{{ url_for('static', filename='normalize.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet" type="text/css" />
  
</head>
<body>

<h1>{{titre}}</h1>
  
{% from "_formhelpers.html" import render_field %}
<form method=post>
    <dl>
      {{ render_field(form.abstract) }}
    </dl>
    <p>{{ render_field(form.submit) }}
</form>

{% if (data) != -1 %}
<ul>
{% for sent in data %}
<li>
  <ul>
    <li>({{sent["verification"]}}) {{sent["name"]}} ({{sent["id"]}})</li>
    <li>Score: {{sent["score"]}}</li>
    <li>Score with year: {{sent["scorePond"]}}</li>
    <li>Affiliation: {{sent["affiliation"]}}</li>
    <li>Conflit d'intérêt: {{sent["conflit"]}}</li> 
    <li>Articles :
      <ul>
	{% for art in sent["article"] %}
	<li>{{art}}</li>
	{% endfor %}
      </ul>
    </li>
    <li>Abstract :
      <ul>
	{% for abs in sent["abstract"] %}
	<li>{{abs}}</li>
	{% endfor %}
      </ul>
          </li>
    <li>Contacts :
      <ul>
	{% for con in sent["contact"] %}
	{% for key, value in con.items() %}
	<li><a href={{value}}>{{key}}</a></li>
	{% endfor %}
	{% endfor %}
      </ul>
    </li>
  </ul>
<li>
{% endfor %}
</ul>
{% endif %}

</body>
</html>
