html {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

/* FORM */

form textarea {
    height: 300px;
    resize: none;
}

button, input, optgroup, select, textarea {
    width: 600px;
    padding: 10px;
}

#formPDF {
    /*border: 1px solid black;
    #padding: 10px;*/
}